<style>
table.fold-table > tbody > tr.view td:first-child::before, table.fold-table > tbody > tr.view th:first-child::before {
	position: absolute;
	top: 50%;
	left: 5px;
	width: 9px;
	height: 16px;
	margin-top: -8px;
	font: 16px fontawesome;
	color: #999;
	content: "\25be";
	transition: all .3s ease;
}
</style>
<div class="container">
	<div class="row">
		<div class="head-reports">&nbsp;</div>
			<div class="large-12 small-12 columns">
				<table class="fold-table report">
					<tbody>
						
						<!--tr class="view">
							<td>All Cases Overview</td>
						</tr>
						<tr class="fold">
							<td>
								<div class="fold-content">
									<table>
										<tbody>
											<tr>
												<td><a href="/summary_of_cases">Summary of case Intake and Closure</a></td>
											</tr>
										</tbody>
									</table>          
								</div>
							</td>
						</tr-->
						
						<tr class="view">
							<td>Distribution of cases in different reporting periods into psychosocial and legal cases</td>
						</tr>
						<tr class="fold">
							<td>
								<div class="fold-content">
									<table>
										<tbody>
											<tr>
												<td><a href="/all_reports/detail_case_intake_closure">Details of Case Intake and Closure</a></td>
											</tr>
											<tr>
												<td><a href="/all_reports/overall_psychosocial_cases">Status of Psychosocial Cases</a></td>
											</tr>
											<tr>
												<td><a href="/all_reports/trial_court_cases">Status of Psychosocial cum Legal Cases (Trial Court)</a></td>
											</tr>
										</tbody>
									</table>          
								</div>
							</td>
						</tr>
						
						<tr class="view">
							<td>Current stage of live legal cases in the criminal justice process</td>
						</tr>
						<tr class="fold">
							<td>
								<div class="fold-content">
									<table>
										<tbody>
											<tr>
												<td><a href="/all_reports/legal_cases_closed">List of legal cases closed with reasons for closure</a></td>
											</tr>
										</tbody>
									</table>          
								</div>
							</td>
						</tr>
						
						<tr class="view">
							<td>Progress towards Casework Component targets</td>
						</tr>
						<tr class="fold">
							<td>
								<div class="fold-content">
									<table>
										<tbody>
											<tr>
												<td><a href="/all_reports/psychological_progress_impact_achievement">Family Members Directly Impacted</a></td>
											</tr>
										</tbody>
									</table>          
								</div>
							</td>
						</tr>
						
						<tr class="view">
							<td>Case Appeals and High Court case advocacy</td>
						</tr>
						<tr class="fold">
							<td>
								<div class="fold-content">
									<table>
										<tbody>
											<tr>
												<td><a href="/all_reports/high_court_iprobono">High Court iprobono</a></td>
											</tr>
										</tbody>
									</table>          
								</div>
							</td>
						</tr>
						
						<tr class="view">
							<td>Advocate/social worker support</td>
						</tr>
						<tr class="fold">
							<td>
								<div class="fold-content">
									<table>
										<tbody>
											<tr>
												<td><a href="/all_reports/supported_by_lawyers">Status of court hearing supported by lawyers</a></td>
											</tr>
											<tr>
												<td><a href="/all_reports/bail_interim_compensation">Status of court hearing on bail interim compensation & witness protection</a></td>
											</tr>
											<tr>
												<td><a href="/all_reports/bail_application_moved">Bail Application moved where HAQ Lawyer was present</a></td>
											</tr>
											<tr>
												<td><a href="/all_reports/reason_for_adjournments">Reason for Adjournments</a></td>
											</tr>
										</tbody>
									</table>          
								</div>
							</td>
						</tr>
						
						<tr class="view">
							<td>Rightful Conviction</td>
						</tr>
						<tr class="fold">
							<td>
								<div class="fold-content">
									<table>
										<tbody>
											<tr>
												<td><a href="/all_reports/judgement_status">Status of Cases where Trial is Completed and Nature of Disposal</a></td>
											</tr>
											<tr>
												<td><a href="/all_reports/rightful_conviction_indicators">Progress on Rightful Conviction Indicators</a></td>
											</tr>
										</tbody>
									</table>          
								</div>
							</td>
						</tr>
						
						<tr class="view">
							<td>Swift Justice</td>
						</tr>
						<tr class="fold">
							<td>
								<div class="fold-content">
									<table>
										<tbody>
											<tr>
												<td><a href="/all_reports/time_taken_in_disposal_of_cases">Time taken in Disposal of Cases</a></td>
											</tr>
											<tr>
												<td><a href="/all_reports/cases_where_trial_completed">Case where Trial Completed (From Cognizance to Judgement)</a></td>
											</tr>
											<tr>
												<td><a href="/all_reports/disposal">Disposal</a></td>
											</tr>
										</tbody>
									</table>          
								</div>
							</td>
						</tr>
						
						<tr class="view">
							<td>Annexure-03</td>
						</tr>
						<tr class="fold">
							<td>
								<div class="fold-content">
									<table>
										<tbody>
											<tr>
												<td><a href="/all_reports/cases_closed_by_lawyers">Cases closed by HAQ lawyers</a></td>
											</tr>
											<tr>
												<td><a href="/all_reports/time_taken_for_completion_of_childs_testimony">Time taken for completion of childs testimony from start date to end date</a></td>
											</tr>
										</tbody>
									</table>          
								</div>
							</td>
						</tr>
						
						<tr class="view">
							<td>Access to psychosocial support</td>
						</tr>
						<tr class="fold">
							<td>
								<div class="fold-content">
									<table>
										<tbody>
											<tr>
												<td><a href="/all_reports/status_of_psychosocial">Progress on Psychosocial Needs</a></td>
											</tr>
											<tr>
												<td><a href="/all_reports/cases_where_identified"> Cases where identified needs could not be met and reasons</a></td>
											</tr>
										</tbody>
									</table>          
								</div>
							</td>
						</tr>
						
						<tr class="view">
							<td>Compensation</td>
						</tr>
						<tr class="fold">
							<td>
								<div class="fold-content">
									<table>
										<tbody>
											<tr>
												<td><a href="/all_reports/status_on_victim_compensation">Status on Victim Compensation</a></td>
											</tr>
											<tr>
												<td><a href="/all_reports/status_on_financial_needs">Status of Victim Compensation/Financial Needs in cases where efforts are ongoing</a></td>
											</tr>
											<tr>
												<td><a href="/all_reports/victim_compensation_disposed">Victim Compensation in cases disposed by courts</a></td>
											</tr>
										</tbody>
									</table>          
								</div>
							</td>
						</tr>
						
						<tr class="view">
							<td>Access to psychological care</td>
						</tr>
						<tr class="fold">
							<td>
								<div class="fold-content">
									<table>
										<tbody>
											<tr>
												<td><a href="/all_reports/secondary_psychological_care">Secondary Psychological Care</a></td>
											</tr>
											<tr>
												<td><a href="/all_reports/tertiary_psychological_care">Tertiary Psychological Care</a></td>
											</tr>
										</tbody>
									</table>          
								</div>
							</td>
						</tr>
						
						<tr class="view">
							<td>Training and Capacity Building</td>
						</tr>
						<tr class="fold">
							<td>
								<div class="fold-content">
									<table>
										<tbody>
											<tr>
												<td><a href="/all_reports/list_of_trainings">List of Trainings</a></td>
											</tr>
										</tbody>
									</table>          
								</div>
							</td>
						</tr>
						
						<tr class="view">
							<td>System change advocacy</td>
						</tr>
						<tr class="fold">
							<td>
								<div class="fold-content">
									<table>
										<tbody>
											<tr>
												<td><a href="/all_reports/appeal_in_appellate">Appeal in Appellate Court</a></td>
											</tr>
										</tbody>
									</table>          
								</div>
							</td>
						</tr>
						
					</tbody>
				</table> 
			</div>
	</div>
</div>

<script>
$(function(){
  $(".fold-table tr.view").on("click", function(){
    $(this).toggleClass("open").next(".fold").toggleClass("open");
  });
});
</script>
