<div class="container">
	<div class="row">
		<div class="head-reports">&nbsp;</div>
			<div class="large-12 small-12 columns">
				<table class="fold-table report">
					<tbody>
						
						<tr class="view">
							<td>Table 1</td>
						</tr>
						<tr class="fold">
							<td>
								<div class="fold-content">
									<table>
										<tbody>
											<tr>
												<td><a href="/summary_of_cases">Summary of case Intake and Closure</a></td>
											</tr>
										</tbody>
									</table>          
								</div>
							</td>
						</tr>
						
						<tr class="view">
							<td>Table 3,4,5</td>
						</tr>
						<tr class="fold">
							<td>
								<div class="fold-content">
									<table>
										<tbody>
											<tr>
												<td><a href="/all_reports/detail_case_intake_closure">Details of Case Intake and Closure</a></td>
											</tr>
											<tr>
												<td><a href="/all_reports/overall_psychosocial_cases">Status of Psychosocial Cases</a></td>
											</tr>
											<tr>
												<td><a href="/all_reports/trial_court_cases">Status of Psychosocial cum Legal Cases (Trial Court)</a></td>
											</tr>
										</tbody>
									</table>          
								</div>
							</td>
						</tr>
						
						<tr class="view">
							<td>Table 4.1, 4.2 and 4.3</td>
						</tr>
						<tr class="fold">
							<td>
								<div class="fold-content">
									<table>
										<tbody>
											<tr>
												<td><a href="/all_reports/legal_cases_closed">List of legal cases closed with reasons for closure</a></td>
											</tr>
										</tbody>
									</table>          
								</div>
							</td>
						</tr>
						
						<tr class="view">
							<td>Table 6.1, 6.2, 6.3</td>
						</tr>
						<tr class="fold">
							<td>
								<div class="fold-content">
									<table>
										<tbody>
											<tr>
												<td><a href="/all_reports/psychological_progress_impact_achievement">Family Members Directly Impacted</a></td>
											</tr>
										</tbody>
									</table>          
								</div>
							</td>
						</tr>
						
						<tr class="view">
							<td>Table 7</td>
						</tr>
						<tr class="fold">
							<td>
								<div class="fold-content">
									<table>
										<tbody>
											<tr>
												<td><a href="/all_reports/high_court_iprobono">High Court iprobono</a></td>
											</tr>
										</tbody>
									</table>          
								</div>
							</td>
						</tr>
						
						<tr class="view">
							<td>Table 8.1 and 8.2</td>
						</tr>
						<tr class="fold">
							<td>
								<div class="fold-content">
									<table>
										<tbody>
											<tr>
												<td><a href="/all_reports/supported_by_lawyers">Status of court hearing supported by lawyers</a></td>
											</tr>
											<tr>
												<td><a href="/all_reports/bail_interim_compensation">Status of court hearing on bail interim compensation & witness protection</a></td>
											</tr>
											<tr>
												<td><a href="/all_reports/bail_application_moved">Bail Application moved where HAQ Lawyer was present</a></td>
											</tr>
											<tr>
												<td><a href="/all_reports/reason_for_adjournments">Reason for Adjournments</a></td>
											</tr>
										</tbody>
									</table>          
								</div>
							</td>
						</tr>
						
						<tr class="view">
							<td>Table 9</td>
						</tr>
						<tr class="fold">
							<td>
								<div class="fold-content">
									<table>
										<tbody>
											<tr>
												<td><a href="/all_reports/judgement_status">Status of Cases where Trial is Completed and Nature of Disposal</a></td>
											</tr>
											<tr>
												<td><a href="/all_reports/rightful_conviction_indicators">Progress on Rightful Conviction Indicators</a></td>
											</tr>
										</tbody>
									</table>          
								</div>
							</td>
						</tr>
						
						<tr class="view">
							<td>Table 10</td>
						</tr>
						<tr class="fold">
							<td>
								<div class="fold-content">
									<table>
										<tbody>
											<tr>
												<td><a href="/all_reports/time_taken_in_disposal_of_cases">Time taken in Disposal of Cases</a></td>
											</tr>
											<tr>
												<td><a href="/all_reports/cases_where_trial_completed">Case where Trial Completed (From Cognizance to Judgement)</a></td>
											</tr>
											<tr>
												<td><a href="/all_reports/disposal">Disposal</a></td>
											</tr>
										</tbody>
									</table>          
								</div>
							</td>
						</tr>
						
						<tr class="view">
							<td>Annexure-03</td>
						</tr>
						<tr class="fold">
							<td>
								<div class="fold-content">
									<table>
										<tbody>
											<tr>
												<td><a href="/all_reports/cases_closed_by_lawyers">Closure of Psychosocial cum Legal Cases and Reasons</a></td>
											</tr>
										</tbody>
									</table>          
								</div>
							</td>
						</tr>
						
						<tr class="view">
							<td>Table 11 and 11.1</td>
						</tr>
						<tr class="fold">
							<td>
								<div class="fold-content">
									<table>
										<tbody>
											<tr>
												<td><a href="/all_reports/status_of_psychosocial">Progress on Psychosocial Needs</a></td>
											</tr>
											<tr>
												<td><a href="/all_reports/cases_where_identified">Unmet needs and reasons</a></td>
											</tr>
											<tr>
												<td><a href="/all_reports/cases_where_trial_completed">Case where trial completed</a></td>
											</tr>
										</tbody>
									</table>          
								</div>
							</td>
						</tr>
						
						<tr class="view">
							<td>Table 12, 12.1 and 12.2</td>
						</tr>
						<tr class="fold">
							<td>
								<div class="fold-content">
									<table>
										<tbody>
											<tr>
												<td><a href="/all_reports/status_on_victim_compensation">Status on Victim Compensation</a></td>
											</tr>
											<tr>
												<td><a href="/all_reports/status_on_financial_needs">Progress on Financial Needs Identified</a></td>
											</tr>
											<tr>
												<td><a href="/all_reports/victim_compensation_disposed">Victim compensation disposed by court</a></td>
											</tr>
										</tbody>
									</table>          
								</div>
							</td>
						</tr>
						
						<tr class="view">
							<td>Table 13, 14</td>
						</tr>
						<tr class="fold">
							<td>
								<div class="fold-content">
									<table>
										<tbody>
											<tr>
												<td><a href="/all_reports/secondary_psychological_care">Secondary Psychological Care</a></td>
											</tr>
											<tr>
												<td><a href="/all_reports/tertiary_psychological_care">Tertiary Psychological Care</a></td>
											</tr>
										</tbody>
									</table>          
								</div>
							</td>
						</tr>
						
						<tr class="view">
							<td>Table 15, 16</td>
						</tr>
						<tr class="fold">
							<td>
								<div class="fold-content">
									<table>
										<tbody>
											<tr>
												<td><a href="/all_reports/list_of_trainings">List of Trainings</a></td>
											</tr>
										</tbody>
									</table>          
								</div>
							</td>
						</tr>
						
						<tr class="view">
							<td>High Court Case Table</td>
						</tr>
						<tr class="fold">
							<td>
								<div class="fold-content">
									<table>
										<tbody>
											<tr>
												<td><a href="/all_reports/appeal_in_appellate">Appeal in Appellate Court</a></td>
											</tr>
										</tbody>
									</table>          
								</div>
							</td>
						</tr>
						
					</tbody>
				</table> 
			</div>
	</div>
</div>

<script>
$(function(){
  $(".fold-table tr.view").on("click", function(){
    $(this).toggleClass("open").next(".fold").toggleClass("open");
  });
});
</script>
